{
  "extends": ["react-app", "airbnb", "plugin:jsx-a11y/recommended"],
  "plugins": ["jsx-a11y", "cypress"],
  "rules": {
    "react/jsx-props-no-spreading": "ignore",
    "react/static-property-placement": 0,
    "react/state-in-constructor": "always",
    "react/jsx-curly-newline": "require",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "import/prefer-default-export": "off",
    "import/no-named-as-default": 0,
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "labelComponents": ["label"],
        "labelAttributes": ["htmlFor"],
        "controlComponents": ["input"]
      }
    ],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["hrefLeft", "hrefRight"],
        "aspects": ["noHref"]
      }
    ],
    "no-script-url": "off",
    "no-underscore-dangle": "off",
    "react/destructuring-assignment": "off",
    "prefer-destructuring": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "space-before-function-paren": [
      "error",
      { "named": "never", "anonymous": "never" }
    ],
    "semi": [
      "error",
      "never",
      { "beforeStatementContinuationChars": "always" }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "template-curly-spacing": "off",
    "indent": "off"
  },
  "env": {
    "cypress/globals": true
  }
}
