body {
  font: Helvetica Neue;
  background-image: url("images/background.png");
  overflow-x: hidden;
}

form {
  margin: auto;
  text-align: center;
}

img {
  height: auto;
  max-width: 100%
}

li.languages {
  display: inline;
}

.content {
  width: 300px;
  align: center;
  text-align: center;
  align-items: center;
  margin: auto;
  padding: auto;
}

.flag {
  border-style: solid;
  border-width: .1px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,123,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
}

.navbar-nav {
  text-align: left;
}

.navbar {
  background-image: url("images/background.png");
  -webkit-box-shadow: 0px -1.5px 1.5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px -1.5px 1.5px rgba(50, 50, 50, 0.75);
  box-shadow: 0px -1.5px 1.5px rgba(50, 50, 50, 0.75);
}

.user-auth {
  margin-bottom: 3px !important;
  width: 100% !important;
}

.btn.logout {
  background: transparent;
  color: #007bff;
}

/*
This is the class for the DotLoader.
*/
.css-4zbxhv {
  align: center;
  margin: auto;
  padding: auto;
}

.active {
  border: 2px solid #99ccff;
}

.map {
  text-align: center;
  margin: auto;
}
